:root{
    --primary-color: #055a05;
    --secondary-color: #4a2506;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
nav, p, section, article,.block img {
    margin: 16px;
    padding: 8px;
}
.main-header{
    display: grid;
    justify-content:space-between ;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0;
    background-color: var(--accent2-color);
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 10px;
}
.logo{
    padding: 10px;
    font-size: small;
    font-weight: bold; 
}
.nav-link {
    display: flex;
    justify-content: space-around;
}

.nav-link a{
    color: var(--accent1-color);
    font-weight: bold;
    text-decoration: none;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
h2 {
    text-align: center;
    background-color: var(--accent2-color);
    top: 10px;
    width: 100%;
    padding: 16px;
    grid-column: 1/4;
}

section p {
    color: var(--secondary-color);
}

.block{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    background-color:var(--accent2-color) ;
}

.in {
    grid-row: 2;
    grid-column: 1/2;
}
.out {
    grid-row: 2;
    grid-column: 3/4;
}
.block img{
    padding: 20px;
    grid-row: 2;
    grid-column: 2/3;
}

.hero article {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .2px;
    text-align: left;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    margin: 0;
    

}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    padding-top: 20px;

}
.adventure{
    background-color:var(--accent2-color) ;
    margin: 0;
}
.advert{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.adventure h2 {
    width: 100%;
    text-align: center;
}

.rafting{
    flex: 1;
    text-align: center;
}

.rafting img {
    width: 100%;
    height: auto;

}

.rafting figcaption{
    margin-top: 8px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}
button {
    background-color: var(--accent1-color);
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: var(--accent2-color);
}
footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  var(--accent1-color);
    align-items: stretch;
    color:var(--accent2-color) ;
}

footer img {
    height: 30px;
    width: auto;
}